
<!-- Ini adalah "penggalan" HTML untuk bagian footer. Semua halaman akan menggunakan footer yang sama. -->

<footer>
  <section>
     <a href="https://www.instagram.com/prasetyamahaptr/" class="socialmedia__link--instagram">MyInsta</a>
      <a href="https://twitter.com/prasetyamahaptr" class="socialmedia__link--twitter">MyTweet</a>
      <a href="https://www.facebook.com/prasetya.mahaputra.52/" class="socialmedia__link--twitter">MyFacebook</a>
  </section>
  <p> &copy; 2022 depras bio</p>
</footer>

@@if(context.script) {
  @@for(var i=0; i < script.length; i++) {
  <script src="`+script[i]+`" ></script>
  }
}
  </body>
</html>

<!-- Penggalan HTML footer berhenti di sini -->