<!-- Ini adalah HTML untuk halaman index.html -->
<!-- Sisipkan HTML bagian header di sini, dan juga file CSS yang dibutuhkan -->
@@include('../shared/header.html', {
  "style": [
    "assets/css/main.css"
  ]
})
<!-- bagian header selesai -->

<!-- Tulis semua coding kalian mulai dari sini -->
<main class="content">

    
  <section id="contact">
      <h3>Cerita Saya</h3>
      <h4>Bagian ke-1</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Laborum impedit facere doloremque autem? Nisi nulla voluptatibus,
               nostrum deserunt doloremque quo explicabo sunt, eius molestiae repudiandae id est labore modi ipsam!</p>

      <h4>Bagian ke-2</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed ea facilis necessitatibus alias inventore, ad porro quisquam voluptate id ducimus aliquam esse officiis reprehenderit natus atque accusamus.
               Voluptas similique architecto, aliquid reprehenderit temporibus nobis eaque quibusdam illo iure perferendis exercitationem.</p>

      <h4>Ending Chapter</h4>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Velit, cupiditate asperiores porro enim reprehenderit minima vero esse quia reiciendis provident delectus perferendis, ratione officiis fugiat libero voluptas explicabo at repellat. Ad, quo dignissimos! 
              Sint ex consequatur cumque, eius tenetur exercitationem accusamus veniam non asperiores aliquid quis ut beatae at soluta.</p>
  </section>

  </main>
<!-- Penulisan coding selesai di sini -->


<!-- Sisipkan HTML bagian footer di sini, dan juga file JS yang dibutuhkan -->
@@include('../shared/footer.html', {
  "script": [
    "assets/js/app.min.js"
  ]
})
<!-- bagian footer selesai -->